.box{
    border: 1vmin solid black;
    /* min-height: 20vh; */
    height: 5vmin;
    /* min-width: 5vmin; */
    width: 5vmin;
    /* display: inline-block; */
}

#container{
    /* height: 100%; */
    width: 80vw;
    height: 50vh;
    border: dashed red 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border-top: 5px dashed red;
    border-bottom: 5px dashed red; */
}


@media(min-width: 500px){
   body{
    background-color: green;
   }
}

@media(max-height: 300px){
    body{
        background-color: red;
    }
}
