body{
    margin: 0;
    height: 200vh;
  }
  
  #container{
    position: relative;
    width: 200px;
    height: 150px;
    border: dashed red 5px;
    overflow-y: scroll;
  }
  
  .box{
    border: 2px solid black;
    height: 50px;
    width: 46px;
    display: inline-block;
  }
  
  
  #theBox{
    position:absolute;
    bottom: -50px;
    left:50px;
  }
  
  
  
  .outer{
    margin-top: 150px;
    height: 400px;
    width: 400px;
    background-color: gray;
    position: relative;
  }
  
  .middle{
    height: 200px;
    width: 200px;
    background-color: green;
    position:absolute;
    right: -25px;
    top: -25px;
    z-index: -1;
  }
  
  .inner{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    right:-50px;
    top: -50px;
    z-index: 1;
  }
  
  .fake-img{
    height: 250px;
    width: 250px;
    border: black solid 2px;
    float: left;
    margin-right: 10px;
  }
  
  .text-block{
    clear: left;
  }
  
  