#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#title {
  margin: 50px;
}
#images {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  flex: 1 1 150px;
  text-transform: capitalize;
  font-weight: bold;
  border: 3px solid gold;
  border-radius: 10pt;
  margin:5px;
}

.pokemon{
  color: black
}

.card {
  padding: 2em;
}

#type {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 24pt;
  margin-bottom: 0;
}


